<footer class="footer">
	<div class="container">
		<div class="footer__content">
			*В том числе с собой. Акция действует до 31 декабря 2019 года. Адрес: Караванная ул, 20. Тел: 679-11-19
		</div>
	</div>
</footer>
<!-- Сообщение об успешной отправке -->
<div style="display: none;" id="msg-success">
	<div class="success-alert">
		<div class="success-alert__logo">
			<img src="img/logo.svg" alt="">
		</div>

		<div class="success-alert__head">Спасибо!</div>

		<div class="success-alert__text">Ваша заявка отправлена!<br>Менеджер свяжется с вами в ближайшее время.!</div>

		<span class="btn js-close-popup">Хорошо</span>
	</div>
</div>