/*-------------- booking -----------------*/
.booking{
	width: 870px;
	background: #fff;
	padding: 1.9rem 1.95rem 1rem;
	font-family: $font-circe;
}

.booking-service{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 2.48rem;

	&__img{
		width: 2rem;
	}

	&__content{
		width: calc(100% - 3.2rem);
	}

	&__head{
		@include font(normal, bold, 1.4rem, 1, $color-text);
	}

	&__text{
		@include font(normal, normal, 1rem, 1, $color-text);
	}
}

.book-form{
	display: flex;
	justify-content: space-between;

	&__title{
		font-family: $font-heading-pro;
		@include font(normal, bold, 1.7rem, 1.2, $color-red);
		margin-bottom: 1rem;
		padding-top: 4px;
	}

	&__date{
		width: 415px;
		border-right: 2px solid $color-red;

	}

	&__date &__title{
		margin-bottom: 3px;
	}

	&__info{
		width: calc(100% - 475px);
	}

	&__month{
		margin-bottom: 6px;
	}

	input[type="text"],
	input[type="email"],
	textarea{
		height: 50px;
		width: 100%;
		outline: none;
		border: 2px solid #c4c4c4;
		font-family: $font-circe;
		@include font(normal, normal, 20px, 48px, #616161);
		padding: 0 25px;
		margin: 0;
		margin-bottom: 18px;
		box-shadow: none;
	}

	textarea{
		height: 120px;
	}

	.btn,
	input[type="submit"].btn{
		width: 100%;
	}
}

.calendar{
	display: flex;
	flex-wrap: wrap;
	width: 350px;
}

.input-date{
	input[type=radio] {
		display: none;
	}

	&__label{
		display: inline-block;
		width: 50px;
		height: 50px;
		padding: 0 5px;
		@include font(normal, normal, 21px, 48px, #000);
		text-align: center;
		cursor: pointer;
		border: 1px solid #c4c4c4;
		background: #fff;
		transition: all 0.3s ease;
	}

	input[type=radio]:checked + &__label,
	&__label:hover{
		background: $color-red;
		border-color: $color-red;
		color: #fff;
	}
}

@media (max-height: 1080px) {
	.booking{
		width: 825px;
	}

	.booking-service{
		margin-bottom: 2rem;
	}

	.input-date{
		&__label{
			width: 45px;
			height: 45px;
			font-size: 20px;
			line-height: 43px;
		}
	}

	.book-form{
		input[type="text"],
		input[type="email"],
		textarea{
			height: 45px;
			line-height: 43px;
		}

		&__date{
			width: 370px;
		}

		&__info{
			width: calc(100% - 425px);
		}
	}
}

@media (max-height: 880px) {
	.input-date{
		&__label{
			width: 35px;
			height: 35px;
			font-size: 16px;
			line-height: 33px;
		}
	}

	.book-form{
		input[type="text"],
		input[type="email"],
		textarea{
			height: 35px;
			line-height: 33px;
			font-size: 18px;
		}

		&__date{
			width: 280px;
		}

		&__info{
			width: calc(100% - 315px);
		}
	}

	.calendar{
		width: 245px;
	}
}

// @media (max-width: 1400px) {
// 	.fancybox-active{
// 		height: auto;
// 	}
// }
