/*-------------- booking -----------------*/
.booking{
	width: 870px;
	background: #fff;
	padding: 1.9rem 1.95rem 1rem;
	font-family: $font-circe;
}

.booking-service{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 2.48rem;

	&__img{
		width: 2rem;
	}

	&__content{
		width: calc(100% - 3.2rem);
	}

	&__head{
		@include font(normal, bold, 1.4rem, 1, $color-text);
	}

	&__text{
		@include font(normal, normal, 1rem, 1, $color-text);
	}
}

.book-form{
	display: flex;
	justify-content: space-between;

	&__title{
		font-family: $font-heading-pro;
		@include font(normal, bold, 1.7rem, 1.2, $color-red);
		margin-bottom: 1rem;
		padding-top: 4px;
	}

	&__date{
		width: 415px;
		border-right: 2px solid $color-red;

	}

	&__date &__title{
		margin-bottom: 3px;
	}

	&__info{
		width: calc(100% - 475px);
	}

	&__month{
		margin-bottom: 6px;
	}

	input[type="text"],
	input[type="email"],
	textarea{
		height: 50px;
		width: 100%;
		outline: none;
		border: 2px solid #c4c4c4;
		font-family: $font-circe;
		@include font(normal, normal, 20px, 48px, #616161);
		padding: 0 25px;
		margin: 0;
		margin-bottom: 18px;
		box-shadow: none;
		border-radius: 0;
	}

	textarea{
		height: 120px;
	}

	.btn,
	input[type="submit"].btn{
		width: 100%;
	}
}

.calendar{
	width: 350px;
	height: 300px;

	&__list{
		display: none;
	}

	&__list.active{
		display: flex;
		flex-wrap: wrap;
	}

	&__item{
		display: inline-block;
		width: 50px;
		height: 50px;
		padding: 0 5px;
		@include font(normal, normal, 21px, 48px, #000);
		text-align: center;
		cursor: pointer;
		border: 1px solid #c4c4c4;
		background: #fff;
		transition: all 0.3s ease;
	}

	&__item:hover,
	&__item.active{
		background: $color-red;
		border-color: $color-red;
		color: #fff;
	}

	&__item_empty{
		opacity: 0;
	}
}

@media (max-height: 1080px) {
	.booking{
		width: 625px;
		padding: 1rem 1.9rem;
	}

	.booking-service{
		margin-bottom: 1rem;
	}

	.calendar{
		width: 245px;
		height: 210px;

		&__item{
			width: 35px;
			height: 35px;
			font-size: 16px;
			line-height: 35px;
		}
	}

	.book-form{
		input[type="text"],
		input[type="email"],
		textarea{
			height: 35px;
			line-height: 33px;
			font-size: 18px;
		}

		&__date{
			width: 280px;
		}

		&__info{
			width: calc(100% - 315px);
		}
	}
}

@media (max-height: 880px) {
	.booking{
		padding: 1rem;
	}

	.book-form{
		input[type="text"],
		input[type="email"],
		textarea{
			height: 35px;
			line-height: 33px;
			font-size: 18px;
		}

		&__date{
			width: 280px;
		}

		&__info{
			width: calc(100% - 315px);
		}
	}

	.booking-service{
		margin-bottom: 1rem;
	}
}

@media (max-width: 1200px) {
	.booking{
		width: 550px;
		padding: 1rem;
	}

	.calendar{
		width: 245px;
		height: 210px;

		&__item{
			width: 35px;
			height: 35px;
			font-size: 16px;
			line-height: 33px;
		}
	}


	.book-form{
		&__date{
			width: 280px;
		}

		&__info{
			width: calc(100% - 315px);
		}
	}
}

@media (max-width: 991px) {
	.booking{
		width: 100%;
	}
}

@media (max-width: 767px) {
	.book-form{
		display: block;

		&__title{
			font-size: 1.3rem;
			padding-top: 0;
		}

		&__date,
		&__info{
			width: 100%;
		}

		&__date{
			border-right: 0;
			margin-bottom: 20px;
		}

		input[type="text"],
		input[type="email"],
		textarea{
			padding: 0 10px;
		}
	}

	.booking-service{
		&__head{
			font-size: 1.2rem;
		}

		&__text{
			font-size: 0.9rem;
		}
	}
}

@media (max-width: 420px) {
	.booking-service{
		&__img{
			display: none;
		}

		&__content{
			width: 100%;
		}
	}
}