/*-------------- success-alert -----------------*/
.success-alert{
	width: 100%;
	background: #fff;
	text-align: center;

	&__logo img{
		width: 92px;
	}

	&__logo{
		margin-bottom: 38px;
	}

	&__head{
		font-family: $font-circe;
		@include font(normal, bold, 32px, 1.2, $color-text);
		margin-bottom: 40px;
	}

	&__text{
		font-family: $font-circe;
		@include font(normal, normal, 24px, 1.1, $color-text);
		margin-bottom: 53px;
	}

	.btn{
		min-width: 290px;
	}
}

@media (max-width: 767px) {
	.success-alert{
		&__logo{
			margin-bottom: 25px;
		}

		&__head{
			font-size: 28px;
			margin-bottom: 20px;
		}

		&__text{
			font-size: 20px;
			margin-bottom: 30px;
		}

		.btn{
			min-width: 200px;
		}
	}
}