//Path
$path-img: "../img";
$path-fonts: "../fonts";

//Font
$font-heading-pro: 'Heading Pro', Arial, sans-serif;
$font-circe: 'Circe', Arial, sans-serif;

// Site
$color-text: #423936;
$color-red: #9b3736;
$color-dark-red: #822f2e;
