html,
body{
	height: 100%;
	background: #e9d3b5;
	font-family: $font-heading-pro;
	@include font(normal, normal, 23px, 1.2, $color-text);
	box-sizing:border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

img{
	max-width: 100%;
}

a{
	color: $color-red;
}

a:hover,
a:active,
a:focus{
	text-decoration: none;
}

p{
	@include font(normal, normal, 23px, 1.2, $color-text);
	padding: 5px 0;
}

b,
strong{
	font-weight: bold;
}

h1,
.h1{
	@include font(normal, bold, 2.9rem, 1, $color-red);
	margin-bottom: 2.8rem;
	margin-top: 0;
}

h2,
.h2{
	@include font(normal, normal, 1.9rem, 1, $color-text);
	margin-bottom: 1.5rem;
}

h3,
.h3{
	@include font(normal, normal, 1.2rem, 1.15, $color-text);
	margin-bottom: 1rem;
}

.wrapper{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	// max-width: 1920px;
	margin: 0 auto;
	background: url(#{$path-img}/bg.jpg) no-repeat center top;
	background-size: cover;
	position: relative;

	&::before{
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		background: rgba(2541,248,228,0.65);
		position: absolute;
		top: 0;
		right: 0;
	}
}

main{
	display: flex;
	align-items: center;
	flex: 1 auto;
	padding-top: 1.5rem;
	padding-bottom: 1.3rem;
	// position: relative;
	// width: 100%;
	// height: calc(100vh - 3rem);
	// margin-top: 3rem;
}

.container{
	width: 100%;
	max-width: 1585px;
	margin: 0 auto;
	padding: 0 15px;
	position: relative;
}

.btn,
input[type="submit"].btn{
	display: inline-block;
	height: 50px;
	background: $color-red;
	border: 0;
	outline: 0;
	font-family: $font-circe;
	@include font(normal, 800, 18px, 48px, #fff);
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	padding: 0 10px;
	cursor: pointer;
}

.btn:hover,
input[type="submit"].btn:hover{
	background: $color-dark-red;
}

.h-text-left{text-align: left !important;}
.h-text-center{text-align: center !important;}
.h-text-right{text-align: right !important;}
.h-text-justify{text-align: justify !important;}
.h-text-uppercase{text-transform: uppercase !important;}
.h-text-bold {font-weight: 700 !important;}

.content-page{
	display: flex;
	// flex-direction: column;
	justify-content: space-between;
}

.fancybox-content{
	width: 815px;
	max-width: 90%;
	padding: 40px 40px 50px;
}

.fancybox-slide--html .fancybox-close-small{
	padding: 5px;
}

.fancybox-slide--html{
	padding: 0;
}

.fancybox-active{
	height: 100%;
}

@media (max-height: 1080px) {
	html,
	body{
		font-size: 18.5px;
	}

	h1,
	.h1{
		margin-bottom: 2rem;
	}
}

@media (max-height: 940px) {
	html,
	body{
		font-size: 18px;
	}
}

@media (max-width: 1400px) {
	h1,
	.h1{
		font-size: 2.5rem;
	}
}

@media (max-width: 1300px) {
	html,
	body{
		font-size: 18px;
	}
}

@media (max-height: 880px) {
	html,
	body{
		font-size: 15px;
	}

	.btn,
	input[type="submit"].btn{
		height: 35px;
		font-size: 14px;
		line-height: 35px;
	}

	h1,
	.h1{
		font-size: 2.3rem;
	}
}

@media (max-width: 1200px) {
	.btn,
	input[type="submit"].btn{
		height: 35px;
		font-size: 14px;
		line-height: 35px;
	}

	h1,
	.h1{
		font-size: 2.2rem;
	}
}

@media (max-width: 991px) {
	.wrapper{
		height: auto;
		min-height: 100%;
	}

	.fancybox-active{
		height: auto;
	}

	.content-page{
		display: block;
	}
}

@media (max-width: 767px) {
	h1,
	.h1{
		font-size: 1.8rem;
	}
}




// @media (max-height: 880px) {
// 	html,
// 	body{
// 		font-size: 24px;
// 	}
// }

// @media (max-width: 1600px) {
// 	html,
// 	body{
// 		font-size: 24px;
// 	}
// }

// @media (max-width: 1279px) {
// 	.container{
// 		padding-left: 3rem;
// 		padding-right: 3rem;
// 	}
// }

// @media (max-width: 991px) {
// 	html,
// 	body{
// 		font-size: 18px;
// 	}

// 	.container{
// 		padding-left: 4.1rem;
// 		padding-right: 4.1rem;
// 	}

// 	main{
// 		height: calc(100vh - 4.2rem);
// 		margin-top: 4.2rem;
// 	}

// 	.btn,
// 	input[type="submit"].btn{
// 		height: 3.5rem;
// 		border-radius: 1.75rem;
// 		font-size: 0.9rem;
// 		line-height: 3.4rem;
// 		min-width: 15rem;
// 	}

// 	h1,
// 	.h1{
// 		font-size: 1.7rem;
// 	}
// }

// @media (max-width: 767px) {
// 	html,
// 	body{
// 		font-size: 16px;
// 	}

// 	main{
// 		height: auto;
// 		margin-top: 3.8rem;
// 	}

// 	.container{
// 		padding-left: 20px;
// 		padding-right: 20px;
// 	}

// 	.btn,
// 	input[type="submit"].btn{
// 		height: 3rem;
// 		border-radius: 1.5rem;
// 		font-size: 0.9rem;
// 		line-height: 2.9rem;
// 		min-width: 13.5rem;
// 	}

// 	h1,
// 	.h1{
// 		font-size: 1.5rem;
// 		margin-bottom: 3.2rem;
// 	}

// 	.fancybox-content{width: 90%;}
// }